{% extends "base.html" %}

{% set title = posts.title %}

{% block content %}

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{{ url('vote', post_id=posts.id) }}" method="post">

    {% for comment in comments %}

    <input type="radio" name="vote" id="comment{{ loop.index }}" value="{{ comment.id }}"/>
    <label for="comment{{ loop.index }}">{{ comment.comment_text }}</label><br/>

    {% endfor %}
    <input type="submit" value="Vote"/>
</form>


{% endblock %}
