{% extends "base.html" %}


{% set title = "Main" %}

{% block content %}

{% for post in posts %}
        <li>{{ post.title }} | {{ post.post_text }}</li>
<a href="{{ url('post_detail', post_id=post._id.__str__()) }}">{{post._id}}{{ post.title }} | {{ post.post_text }}</a>
    {% endfor %}

<form action="{{ url('add_post') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <label for="title">Add New Post</label>
        <input id="title" name="title" type="text" value=""/>
    <label for="post_text">Add New Post</label>
        <input id="post_text" name="post_text" type="text" value=""/>
        <input type="submit" value="Send"/>
    </form>
{% endblock %}
